@charset "UTF-8";
body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: darkslategray; background-color: gray;
}
h2{
    color: darkslategrey;
}
p{
    text-align: justify;
}